/* main.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e8eee9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

.main-container {
    text-align: center;
    padding: 40px;
    background-color: #8bd38b;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 600px;
    height: 600px;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #43a047;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #388e3c;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-button {
    background-color: #43a047;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.option-button:hover {
    background-color: #388e3c;
}

.option-button::after {
    content: 'BẬT';
    background-color: white;
    color: #43a047;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
}

