/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e8eee9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #8bd38b;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: white;
}

.login-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 16px;
}

.login-form button {
    background-color: #43a047;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.login-form button:hover {
    background-color: #388e3c;
}
