<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Options</title>
    <link rel="stylesheet" href="../static/admin.css">
</head>
<body>
    <div class="main-container">
        <h2>CAMERA OPTIONS</h2>
        <div class="button-container">
            {% if current_user.is_authenticated %}
                <button class="logout-button" ><a href="/logout">Đăng Xuất</a></button>

                <button class="option-button" onclick="window.location.href='add-member'">THÊM THÀNH VIÊN</button>
                <button class="option-button" onclick="window.location.href='model'">PHÁT HIỆN NGƯỜI LẠ</button>
                <button class="option-button" onclick="window.location.href='model'">PHÁT HIỆN KHÓI/CHÁY</button>
                <button class="option-button" onclick="window.location.href='model'">PHÁT HIỆN NGÃ</button>
            {% else %}
                <button class="logout-button" ><a href="/login">Đăng Nhập</a></button>

                <button class="option-button" onclick="window.location.href='login'">THÊM THÀNH VIÊN</button>
                <button class="option-button" onclick="window.location.href='login'">PHÁT HIỆN NGƯỜI LẠ</button>
                <button class="option-button" onclick="window.location.href='login'">PHÁT HIỆN KHÓI/CHÁY</button>
                <button class="option-button" onclick="window.location.href='login'">PHÁT HIỆN NGÃ</button>
            {% endif %}
        </div>
    </div>
</body>
</html>
