{% extends "layout.html" %}

{% set avantar_path = 'dist/img/avatar' + config.ADMIN_AVATAR + '.png' %}

{% block main_header %}
    <header class="main-header">
        <!-- Logo -->
        <a href="/index" class="logo" style="justify-content: left;"> <!-- mini logo for sidebar mini 50x50 pixels -->
            <img style="width: 60px;height: 60px;" src="../static/images/logo.png" alt=""
           class="mr-10px">
            <span class=""><b>AI HUB</b></span>
        </a>
    <!-- Header Navbar: style can be found in header.less -->
        <div class="action-menu">
            <div class="item" onclick="window.location.href='add-member'">
                <img style="width: 20px;height: 20px;" src="../static/images/user-icon.png" alt=""
           class="mr-10px">
                Thêm thành viên</div>
            <form class="item" action="{{ url_for('set_stranger') }}" method="POST" style="display:inline;">
                <button type="submit" style="width: 100%; text-align: start; border: none; background: none; padding: 0">
                    <img style="width: 20px;height: 20px;" src="../static/images/stranger-icon.png" alt=""
                        class="mr-10px">
                    Phát hiện người lạ</button>
            </form>
            <form class="item" action="{{ url_for('set_fire') }}" method="POST" style="display:inline;">
                <button type="submit" style="width: 100%; text-align: start; border: none; background: none; padding: 0">
                    <img style="width: 20px;height: 20px;" src="../static/images/fire-icon.png" alt=""
                        class="mr-10px">
                    Phát hiện khói cháy</button>
            </form>
            <form class="item" action="{{ url_for('set_fall') }}" method="POST" style="display:inline;">
                <button type="submit" style="width: 100%; text-align: start; border: none; background: none; padding: 0">
                    <img style="width: 20px;height: 20px;" src="../static/images/fall-icon.png" alt=""
                        class="mr-10px">
                    Phát hiện người ngã</button>
            </form>
            <div class="item" onclick="window.location.href='draw_zone'">
                <img style="width: 20px;height: 20px;" src="../static/images/draw-icon.png" alt=""
                     class="mr-10px">
                Vẽ zone </div>

        </div>
    </header>
{% endblock %}


{% block main_sidebar %}
{% if config.SHOW_SIDEBAR %}
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ url_for('static', filename=avantar_path) }}" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    {% if FBuser == "" %}
                    <p>{{ current_user.id }}</p>
                    {% else %}
                    <p>{{ FBuser }}</p>
                    {% endif %}
                    <a href="#"><i class="fa fa-star"></i> {{ current_user.id }}</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">DANH MỤC</li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
{% endif %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="top-bar">
            <div class="action">
                <a class="change-password" href="/logout">Đổi mật khẩu</a>
                <a class="logout" href="/logout">Đăng Xuất</a>
            </div>
        </div>
        {% block content_wrapper %}{% endblock %}
    </div>
{% endblock %}

{% block main_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            {% if sys_info is defined %}
                <b>Version</b> 3.{{ sys_info.version }}.{{ sys_info.update_date }}
                <b>Licensed util</b> {{ sys_info.expire_date }}
            {% endif %}
        </div>
        <strong>Copyright &copy; 2024 <a >{{ config.COPYRIGHT }}</a>.
        </strong> All rights reserved.
    </footer>
{% endblock %}

