<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="shortcut icon" href="../static/images/logo_aibox.png" type="image/x-icon">
    <title>Login</title>
    <link rel="stylesheet" href="../static/loginStyle.css" >
  </head>
  <body>
    <div class="all">
    <div class="card">
      <div class="card-item">
        <div class="card-item_companyname">
          <h1 style="color: white">Ai-Box</h1>
        </div>
        <!-- <div class="quest">
          <p>Vui lòng cung cấp một số thông tin <br>về doanh nghiệp của bạn</p>
        </div> -->
      </div>
      <div class="input-box">
        <input type="text" placeholder="Tên tài khoản"/>
        <input type="password" placeholder="Mật khẩu"/>
      </div>
      <button id="buttonSignIn" type="submit" ><b>Đăng nhập</b></button>
      <p style="color: white;">Chưa có tài khoản? <a href="register">Đăng ký ngay</a></p>
    </div>
  </div>
  <div style="display: flex;flex-direction: column;align-items: center;height: 100%;">
  <a class="link" href="https://facenet.vn" target="_blank"
      style="margin-top: 50px;display: flex; flex-direction: row;align-items: center;">
      <img style="width: 60px;height: 60px;" src="../static/images/logo_aibox.png" alt=""
           class="mr-10px">
      <span class="d-inline-flex">Ai-Box</span>
  </a>
  <p style="text-align: center; color: white;">Bảo vệ mái ấm gia đình bạn</p>
</div>
  </div>
  </body>
</html>
